@import 'first';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  border: none;

  &.button {
    font-weight: 700;
    cursor: pointer;
    font-family: inherit;
    border: 1px solid transparent;
    margin: 0px;
    box-shadow: rgbe(0 0 0 / 10%) 0px 3px 12px 0px;
    padding: 8px 18px;
    min-height: 48px;
    background-color: red;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-height: calc(var(--vh, 1vh) * 100);
  color: rgb(255, 255, 255);
}

.picture {
  position: absolute;
  z-index: -1;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &::before {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.line {
  width: 100%;
  height: 4px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 44, 120, 0.3);
  transition: width 0.3s ease;
}

/*------------------------items checked-------------------------------*/

.main__header-item.checked {
  animation: blink 0.2s linear 2;
  box-shadow: rgba(255, 247, 249, 0.8) 0 0 0 2px inset;

  &:active {
    animation: blink 0.2s linear 2;
  }

  .main__header-check {
    display: block;
  }

  .main__header-item-letter {
    white-space: nowrap;
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(47, 44, 41);
  }
}

/*------------------------items checked-------------------------------*/

/*------------------------items hover------------------------------*/
.main__header-item:hover .main__header-item-letter {
  width: 50px;
  margin-left: -26px;
  display: flex;
  flex-direction: row;
}

.main__header-item:hover .main__header-item-letter-hover {
  display: block;
  margin-right: 5px;
}

/*----------------------items hover------------------------------*/
.footer__btn:disabled {
  opacity: 0.5;
}

/*----------------------animation------------------------------*/
@keyframes blink {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0.5;
  }

  70% {
    opacity: 0.2;
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }
}

/*----------------------animation------------------------------*/
.main__text-inner{
  display: flex;
  align-items: center;
}
.main {
  height: calc(var(--vh, 1vh) * 100);
  max-width: 1440px;
  margin: auto;

  &__container {
    height: 100vh;
    padding: 0 40px;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &__num {
    display: flex;
    top: 25px;
    align-items: center;
    position: relative;
    right: 40px;
    width: 35px;

    &-inner {
      fill: white;
    }
  }

  &__header {
    height: calc(var(--vh, 1vh) * 100);
    min-height: 100%;
    max-width: 750px;
    flex-direction: column;
    padding-left: 40px;
    margin: auto;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    transition: margin 1s ease;
    position: relative;
    display: inline-flex;

    &-wrapper {
      width: fit-content;
      max-width: 100%;
    }

    &-title {
      font-size: 36px;
      line-height: 44px;
      font-weight: 300;
    }

    &-check {
      display: none;
      flex-shrink: 0;
      opacity: 1;
      fill: white;
      transition: fill 0.2s ease 0s;
      position: absolute;
      right: 14px;
    }

    &-items {
      display: flex;
      flex-direction: column;
    }

    &-item {
      margin-bottom: 8px;
      margin-right: 0;
      width: 100%;
      min-width: 75px;
      min-height: 40px;
      position: relative;
      display: flex;
      border-radius: 4px;
      box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 0px 1px inset;
      color: white;
      background-color: rgba(255, 255, 255, 0.1);
      outline: 0;
      padding: 4px;
      cursor: pointer;
      opacity: 1;
      font-weight: 300;

      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }

      &-text {
        max-width: 100%;
        font-size: 20px;
        line-height: 28px;
        margin: 0 40px 0 35px;
      }

      &-letter {
        position: absolute;
        width: 24px;
        min-width: 22px;
        margin: 5px;
        height: 24px;
        border-radius: 2px;
        font-size: 12px;
        line-height: 16px;
        border-radius: 2px;
        border-color: rgba(255, 255, 255, 0.6);
        background-color: rgb(47, 44, 41);
        border: 1px solid rgba(255, 255, 255, 0.6);
        display: flex;
        align-items: center;
        font-weight: 700;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        &-hover {
          display: none;
        }
      }
    }
  }

  &__button {
    width: fit-content;
    position: relative;
    font-family: inherit;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
    margin: 16px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 3px 12px 0;
    padding: 6px 14px;
    min-height: 40px;
    background-color: red;
    color: rgb(255, 255, 255);
    border-radius: 4px;

    &:hover {
      background-color: rgba(255, 0, 0, 0.646);
    }

    &-svg {
      margin-left: 8px;
      display: block;
      fill: rgb(255, 255, 255);
      transition: fill 0.2s ease 0s;
    }

    &-text {
      margin: 0;
      max-width: 100%;
      font-weight: unset;
      font-size: 20px;
      line-height: 28px;
    }
  }
  
}

.footer {
  &__inner {
    width: 100%;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: row-reverse;
    font-family: sans-serif;
    padding: 24px;
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    box-shadow: none;
    border-radius: 4px;
    user-select: none;
    line-height: 0;
    background-color: transparent;
    pointer-events: auto;
    white-space: nowrap;
  }

  &__nav {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 4px;
    background-color: red;
  }

  &__btn {
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
    width: 36px;
    min-width: 36px;
    height: 32px;
    justify-content: center;
    background-color: red;
    color: rgb(255, 255, 255);
    border-radius: 4px;

    &:hover {
      background-color: rgba(255, 0, 0, 0.658);
    }

    &-span {
      &-svg {
        display: block;
        fill: rgb(255, 255, 255);
        transition: fill 0.2s ease 0s;
        margin: auto;
      }
    }
  }

  &__divider {
    background-color: rgba(255, 255, 255, 0.3);
    width: 1px;
    height: 100%;
  }

  .submit__button{
    width: fit-content;
  }
}

.mob {
  display: none;
}
.main__button-text-start {
  font-size: 24px;
  line-height: 28px;
  padding: 5px 35px;
}
//first screen css
.main__hero-wrapper {
  position: absolute;
  inset: 0;  
  z-index: 10;
  background-color: #000;
}
.main__hero {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.main__hero-img {
  padding: 20px;
  overflow: hidden;
  max-width: calc(50% - 25px);
  img {
    width: 100%;
    height: auto;
  }
}
.main__hero-start {
  max-width: calc(50% - 25px);
}
.hero-title {
  font-size: 36px;
  text-align: center;
}
.hero__button {
  width: fit-content;
  position: relative;
  font-family: inherit;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: 1px solid rgba(0,0,0,0);
  margin: 16px auto;
  box-shadow: rgba(0,0,0,.1) 0 3px 12px 0;
  padding: 6px 14px;
  min-height: 40px;
  background-color: red;
  color: #fff;
  border-radius: 4px;
  &:hover {
    background-color: rgba(255, 0, 0, 0.646);
  }
}
.main-content-wrapper {
  display: none;
}
.end__wrapper {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: none;
  .main__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px)  {
  .main__hero {
    flex-direction: column;
    gap: 20px;
  }
  .main__hero-img {
    max-width: 50%;
    padding: 0;
    order:1
  }
  .main__hero-start {
    max-width: 100%;
    order:2
  }
}
@media (max-width: 568px) and (orientation: landscape) {
  .main__header {
    display: inline-block;
  }
}

@media (max-width: 568px) {
  .main__hero-img {
    max-width: 94%;
    padding: 0;
  }
  .main__hero-start {
    max-width: 94%;
  }
  .mob {
    display: block;
  }
  .desc {
    display: none;
  }
  .container {
    max-width: 540px;
    margin: 0 auto;
  }

  .submit__button{
    width: 100%;
  }

  .main__container {
    padding: 0;
  }

  .main__header {
    padding: 20px 40px 60px;
    text-align: left;

    &-title {
      font-size: 30px;
      line-height: 38px;
      font-weight: 300;
    }

    &-item {
      &-text {
        font-size: 20px;
        line-height: 28px;
        font-weight: 300;
      }
    }
  }

  .main__button-text {
    font-size: 16px;
    line-height: 24px;
  }

  .main__num {
    right: 23px;
    top: 32px;

    &-number {
      font-weight: unset;
      font-size: 14px;
      line-height: 20px;
    }

    &-svg {
       margin-left: 3px;
    }

    &-inner {
      display: flex;
      align-items: flex-start;
    }
  }

  a {
    width: 100%;
  }

  .footer__inner {
    flex-direction: revert;
    width: 100%;
    background-color: rgba(47, 44, 41, 0.8);
    z-index: 10;
    padding: 8px;
  }
}
